<div th:fragment="footer">
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <form method="GET" action="/subscribe">
                Subscribe monthly updates: <input type="email" name="emailSub" placeholder="email">
                <input type="submit" value="Subscribe">
            </form>
            <form method="GET" action="/unsubscribe">
                <input type="submit" value="Unsubscribe">
            </form>
        </div>
    </footer>
</div>